<!--
    ioBroker.vis material Widget-Set
    version: "0.0.1"
    Copyright 10.2015-2016 nisiode<email@mail.com>
-->

<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/material/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/material/js/material.js"></script>


<script id="tplMaListDoor"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplMaListWindow" style="position: relative; text-align: initial;padding: 4px ">
				<div class="vis-widget_prev " style="width: 100px; height: 100px; padding:2px; background-color: #212121" > 
						<img src="widgets/material/img/fts_door.png" style="width: 100px; height: 100px;"></div></div>'
        data-vis-attrs="oid/id;title/text;subtitle/text;"
        data-vis-set="material"
        data-vis-type="val"
        data-vis-name="ListDoor">
    <div class="vis-widget <%== this.data.attr('class') %> my-list" id="<%= this.data.attr('wid') %>" >
		<div class="vis-widget-body" >
			<div class="my-list-icon">
				<img src="widgets/material/img/fts_door.png">
			</div>
			<div class="my-list-desc">
				<div class="my-list-title mdui-title" >
					<%= this.data.attr('title') %>
				</div>
				<div class="my-list-subtitle mdui-subtitle">
					<%= this.data.attr('subtitle') %>
				</div>
			</div>
			<div class="my-list-value mdui-value"></div>
		</div>
	</div>
	<% vis.binds.material.tplMdListDoor(this.data.wid, this.view, this.data);  %>
</script>

<script id="tplMaListWindow"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplMaListWindow" style="position: relative; text-align: initial;padding: 4px ">
			<div class="vis-widget_prev " style="width: 100px; height: 100px; padding:2px; background-color: #212121" > 
					<img src="widgets/material/img/fts_window_2w.png" style="width: 100px; height: 100px;"></div></div>'
        data-vis-attrs="oid/id;title/text;subtitle/text;"
        data-vis-set="material"
        data-vis-type="val"
        data-vis-name="ListWindow">
		<div class="vis-widget <%== this.data.attr('class') %> my-list" id="<%= this.data.attr('wid') %>" >
			<div class="vis-widget-body" >
				<div class="my-list-icon">
					<img src="widgets/material/img/fts_window_2w.png">
				</div>
				<div class="my-list-desc">
					<div class="my-list-title mdui-title" >
						<%= this.data.attr('title') %>
					</div>
					<div class="my-list-subtitle mdui-subtitle">
						<%= this.data.attr('subtitle') %>
					</div>
				</div>
				<div class="my-list-value mdui-value"></div>
			</div>
		</div>
		<% vis.binds.material.tplMdListWindow(this.data.wid, this.view, this.data);  %>
</script>
