<!--
    ioBroker.vis material Widget-Set
    version: "0.0.1"
    Copyright 10.2015-2016 nisiode<email@mail.com>
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/material/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/material/js/material.js"></script>


<script id="tplMaterialListitem"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplMaterialListitem" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 280px; height: 159px;" > <div class="myset-class vis-widget-prev-body " style="padding:2px"> OID: hm-rpc.0.EEQ0006629.1.STATE<br> OID value: true<br> Color: <span style="color: rgb(128, 0, 0);">#800000</span><br> htmlText: <textarea readonly="" style="width:100%">asda</textarea></div>'
        data-vis-attrs="oid/id;title/text;subtitle/text;"
        data-vis-set="material"
        data-vis-type="val"
        data-vis-name="Listitem">
    <div class="vis-widget <%== this.data.attr('class') %>" style="position: relative; width:100%; height:48px; left:0px;" id="<%= this.data.attr('wid') %>" >
		<div class="my-list-icon">
			<img src="widgets/material/img/fts_door_open.png">
		</div>
		<div class="my-list-desc">
            <div class="my-list-title mdui-title" >
                <%= this.data.attr('title') %>
            </div>
            <div class="my-list-subtitle mdui-subtitle">
                <%= this.data.attr('subtitle') %>
            </div>
        </div>
        <div class="my-list-value mdui-value"><%
            vis.binds.material.getValue(this.data.wid, this.view, this.data);
      %></div>
    </div>
</script>